---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero";
import { Mode } from "../../../types";
import PoC from "@components/PoC";

export function getStaticPaths() {
    const availableLocales = ["pt", "en", "fr", "es", "zh", "ja", "en-GB"];
    return availableLocales.map((locale) => ({
        params: { locale },
        props: { locale },
    }));
}
const { locale } = Astro.params;
---

<Layout title="Fullstack Portfolio" lang={locale}>
    <main class="relative w-full overflow-hidden">
        <Hero client:load mode={Mode.FULLSTACK} locale={locale} />
        <div class="relative z-10 bg-base-100">
            <PoC client:visible locale={locale} />
        </div>
    </main>
</Layout>
