---
import "../styles/global.css";
import ThemeToggle from "../components/ThemeToggle";
import LanguageToggle from "../components/LanguageToggle.astro";
import NavBar from "../components/NavBar.astro";

interface Props {
	title?: string;
	lang?: string;
}
const { title = "Jônatas.Dev", lang = "en" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="">
		<div class="fixed top-4 right-4 z-50 flex gap-2">
			<NavBar />
		</div>
		<slot />
	</body>
</html>
